In [3]:
import pandas as pd
f = pd.read_excel("test ibra.xlsx")
f

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0         NaN         NaN         NaN           2           3           6
1         NaN         NaN         NaN           4           3          12
2         NaN         NaN         NaN           5           3          15